
.places__paragraph{
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
}

.places__paragraph:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width: 984px) {
    .places__paragraph{
        font-size: 16px;
    }
}

@media screen and (max-width: 568px) {
    .places__paragraph{
        margin: 0 16px;
    }
}