.lead{
    max-width: 984px;
    margin: 0 auto;
    padding: 0 0 92px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1140px){
    .lead{
        max-width: 928px;
    }
}

@media screen and (max-width: 984px){
    .lead{
        max-width: 768px;
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 568px){
    .lead{
        max-width: 320px;
        padding-bottom: 64px;
    }
}