.lead__title{
    margin: 0 auto 32px;
    padding: 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    color: #fff;
    /*border: red solid 1px;*/
    text-align: center;
}

@media screen and (max-width: 700px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 0 auto 16px;
    }
}